{
  "extends" : "airbnb",
  "env": {
    "browser": true,
    "jasmine": true
  },

  "rules": {
    "id-length"    : [2, { "min": 2, "properties": "never", "exceptions": ["_"]}],
    "comma-dangle" : [1, "never"],
    "func-names"   : 0,
    "key-spacing"  : 0,
    "space-before-function-paren" : [2, "always"],
    "no-else-return"   : 2,
    "no-multi-spaces"  : 0,
    "quotes"           : [2, "single"],
    "react/jsx-quotes" : [2, "single"],
    "jsx-quotes"       : [2, "prefer-single"]
  }
}
